@media (max-width: 390px) {
  .container {
    padding: 0 20px;
    max-width: 430px;
  }

  img {
    width: 100%;
  }

  section:not(.section-balloon) {
    display: none;
  }

  /* =======================Header=================== */

  .header {
    padding: 12px 0;
    position: relative;
    z-index: 2;
  }

  .icon-menu {
    display: block;
    fill: #266294;
    flex-shrink: 0;
  }

  .icon-logo {
    width: 41px;
    height: 45px;
    margin-bottom: 4px;
  }

  .logo-text {
    min-width: 73px;
    font-size: 15px;
  }

  .header-btn {
    border: 2px solid #266294;
    padding: 12px 16px;
    font-size: 14px;
    font-family: "Play", sans-serif;
    width: 139px;
  }

  .menu-list {
    display: none;
  }

  /* ================================= */

  /* ============================Balloon========================= */
  .section-balloon {
    padding: 80px 0 250px 0;
    background-image: url(../images/balloon-mobile@2x.jpg);
    background-position: center center;
    height: 700px;
    margin-bottom: 0;
  }

  .container-balloon {
    display: block;
  }

  .wrapp-text {
    margin-bottom: 106px;
  }

  .balloon-title {
    font-size: 48px;
    max-width: 255px;
  }

  .balloon-text {
    font-size: 24px;
  }

  .wrapp-btn {
    flex-direction: column;
    gap: 24px;
  }

  .find-btn {
    height: 48px;
  }

  .apply-btn {
    height: 48px;
  }

  .img-balloon {
    width: 37px;
    height: 46px;
    top: 41px;
    left: 152px;
  }

  /* ====================================================== */
  /* =========================FOOTER============================= */
  .footer {
    padding: 24px 0 49px 0;
  }

  .container-footer {
    display: flex;
    position: relative;
  }

  .footer-logo-wrap {
    position: absolute;
    top: 0;
    right: 60px;
  }

  .container-logo-text {
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  .footer-item {
    flex-direction: column;
    margin-left: 0;
    gap: 10px;
  }

  .footer-item-social {
    position: absolute;
    right: 20px;
    top: 93px;
  }

  .footer-list {
    min-width: 0;
    width: 100%;
    margin-bottom: 32px;
  }

  .footer-soc-icon {
    /* max-width: 20px; */
    width: 20px;
    height: 20px;
  }

  .footer-item-social {
    gap: 11px;
    align-items: center;
  }

  .menu-link {
    font-size: 18px;
    line-height: 1;
  }

  /* ======================================== */
  /* ========================MODAL MOBILE======================= */

  .mobile-modal-overlay.is-open {
    opacity: 0;
    pointer-events: none;
  }

  .mobile-modal-overlay {
    overflow: hidden;
    position: fixed;
    top: 108px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #cfe7f5;
    opacity: 0.9;
    pointer-events: auto;
    z-index: 998;
  }
  .mobile-modal {
    position: absolute;
    top: 72px;
    left: 32px;
    width: 100%;
    min-height: 170px;
    z-index: 999;
  }

  .test {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #cfe7f5;
    opacity: 0.9;
    height: 109px;
    z-index: 0;
    pointer-events: none;
  }

  .test.is-open {
    opacity: 0;
    pointer-events: none;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .menu-wrapp {
    display: flex;
    gap: 12px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #266294;
  }
}

@media screen and (min-width: 391px) and (max-width: 834px) {
  .container {
    max-width: 810px;
  }

  /* ======================HEADER===================== */
  .icon-logo {
    width: 41px;
    height: 45px;
  }

  .logo-text {
    font-size: 15px;
    min-width: 73px;
  }

  .menu-list {
    gap: 20px;
  }

  .menu-link {
    font-size: 16px;
  }

  .menu-link > .icon-user {
    margin-right: 10px;
  }

  .header-btn {
    padding: 12px 23px;
    font-size: 16px;
  }

  /* =========================================== */
  /* ==========================BALLOON======================== */
  .section-balloon {
    background-image: url(../images/balloonn-backg.jpg);
    padding: 100px 0 320px 0;
    margin-bottom: 0;
  }

  /* ================================================ */
  /* ========================CRITERION================================== */

  .section-criterion {
    padding: 48px 0 32px 0;
  }

  .title {
    font-size: 32px;
  }

  .criterion-list {
    gap: 20px;
    justify-content: center;
  }

  .criterion-item {
    flex-basis: calc((100% - 20px) / 2);
  }
  .criterion-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* ======================================================== */
  /* ==========================COUNTRY============================== */
  .section-country {
    padding: 48px 0 0 0;
  }

  .container-country {
    padding: 0 32px;
    margin: 0;
  }

  .country-list {
    position: relative;
  }

  .country-item {
    flex-basis: calc((100% - 20px) / 2);
  }

  .country-list .country-item:last-child {
    display: none;
  }

  /* ======================================================= */
  /* ================================LAST========================== */

  .section-last {
    padding: 48px 0 68px 0;
  }

  .last-country-wrap {
    margin-bottom: 24px;
  }

  .last-title {
    margin-bottom: 0;
  }

  .last-list .last-item:last-child {
    display: none;
  }

  .last-item {
    flex-basis: calc((100% - 20px) / 2);
  }

  /* =================================================== */
  /* =====================FOOTER============================== */
  .footer-list {
    min-width: 0;
  }

  .footer-item {
    gap: 20px;
  }

  .footer-item-social {
    gap: 11px;
  }

  .container-logo-text {
    font-weight: 400;
    min-width: 158px;
  }

  .facebook {
    order: 1;
  }

  .twitter {
    order: 2;
  }

  .instagram {
    order: 3;
  }

  .youtube {
    order: 4;
  }

  .mobile-menu-list {
    display: none;
  }
}

@media screen and (min-width: 391px) and (max-width: 732px) {
  .menu-link {
    font-size: 12px;
  }

  .header-btn {
    padding: 8px 18px;
  }

  .menu-list {
    gap: 10px;
  }
}

@media screen and (min-width: 391px) and (max-width: 524px) {
  .container-header {
    gap: 10px;
  }

  .header-btn {
    padding: 5px 10px;
    display: none;
  }

  .header-btn-for-mobile {
    display: block;
    padding: 5px 10px;
    margin-left: 5px;
  }

  .menu-list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-item {
    gap: 10px;
  }

  .container-logo-text {
    font-size: 12px;
  }

  .container-logo {
    max-width: 125px;
  }
}

@media screen and (min-width: 391px) and (max-width: 670px) {
  .arrow-right {
    top: 65px;
  }

  .arrow-left {
    top: 65px;
  }
}
